<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ msg('app-title') }}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <header class="">
        <nav class="navbar navbar-expand-md">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}">{{ msg('app-title') }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                     <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        {% if logged_in_user() %}
                            <li class="nav-item">{{ msg( 'toolforge-logged-in-as', [ logged_in_user().username ] ) }}</li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('toolforge_logout') }}">{{ msg('toolforge-logout') }}</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('toolforge_login') }}">{{ msg('toolforge-login') }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        
    </footer>
    {{ encore_entry_script_tags('app') }}
</body>
