{% extends 'base.html.twig' %}

{% block main %}

    <p>
        Available languages:
        {% for lang in langs %}
            <a href="{{path('home')}}?uselang={{lang}}">{{lang}}</a>
        {% endfor %}
    </p>

    <p>{{ msg( 'tool-count', [ tools|length|number_format ] ) }}</p>

    <ol>
        {% for tool in tools %}
            <li>
                {% if tool.lang %}
                    <a href="{{ path( 'page', { tool:tool.name, lang:tool.lang } ) }}">{{ tool.title }}</a>
                {% else %}
                    <a href="{{ tool.url }}">{{ tool.title }}</a>
                {% endif %}
                {{ tool.description }}
            </li>
        {% endfor %}
    </ol>

{% endblock %}
