{% extends 'base.html.twig' %}

{% block main %}

<main class="row">
    <nav class="col-md-3">
        <h1>
            <a href="{{ path('page', { tool:page.name, lang:page.lang, version:page.version, path:'index' }) }}">{{ page.title }}</a>
        </h1>
        {# @TODO Add sidebar contents here. #}
    </nav>
    <article class="col-md-9">
        {{ html|raw }}
    </article>
</main>

{% endblock %}
